body {
  height: 100vh;

  #app {
    height: 100%;

    .container {
      height: 100%;
      
      &:focus {
        outline: none;
      }

      .top-button-panel {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 15%;

        .scramble-panel {
          display: flex;
          width: 9em;
          justify-content: space-between;
          align-items: center;
        }

        .label-toggler {
          font-size: 1.1em;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
        }
      }
      
      .rubiks-cube-container {
        height: 55%;
      } 
  
      .control-button-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;

        button {
          height: 2.85em;
          width: 2.85em;
          padding: 0;
          margin: 0.35em;
        }
      }
    }
  }
}